langchain-aws
langchain-community
langchain-core
boto3
opensearch-py
faiss-cpu
PyPDF2
pydantic
langchain-experimental
PyMuPDF
pypdf
langsmith
pandas
transformers
langgraph
graphviz
bedrock-agentcore
bedrock-agentcore-starter-toolkit
streamlit
boto3
aws-opentelemetry-distro